@model WebApplication15.Models.HomePageViewModel

<h1>Hello, welcome to my website!</h1>
<h3><a href="/account/signup">Sign up for a new account</a></h3>
<h3><a href="/account/login">Login to your account</a></h3>
<h3><a href="/home/secret">Go to the secret page</a></h3>

@if (Model.IsAuthenticated)
{
    <h2>Welcome @Model.Name</h2>
}
else
{
    <h2>Welcome Guest</h2>
}

